
[submodule "emlun-rust"]
	path = emlun-rust
	url = https://github.com/emlun/adventofcode-2019.git
  
[submodule "yxhuvud-crystal"]
        path = yxhuvud-crystal
        url = https://github.com/yxhuvud/aoc19
