
[submodule "prositen-python"]
	path = prositen-python
	url = git@github.com:prositen/advent-of-code.git

[submodule "meck-haskell"]
	path = meck-haskell
	url = https://github.com/meck/AoC2019.git

[submodule "emlun-rust"]
	path = emlun-rust
	url = https://github.com/emlun/adventofcode-2019.git
  
[submodule "yxhuvud-crystal"]
        path = yxhuvud-crystal
        url = https://github.com/yxhuvud/aoc19
