
[submodule "prositen-python"]
	path = prositen-python
	url = git@github.com:prositen/advent-of-code.git

[submodule "meck-haskell"]
	path = meck-haskell
	url = https://github.com/meck/AoC2019.git

[submodule "emlun-rust"]
	path = emlun-rust
	url = https://github.com/emlun/adventofcode-2019.git
  
[submodule "yxhuvud-crystal"]
        path = yxhuvud-crystal
        url = https://github.com/yxhuvud/aoc19
[submodule "tomasaschan-rust"]
	path = tomasaschan-rust
	url = https://github.com/tomasaschan/advent-of-code-2019
[submodule "ygge-java"]
	path = ygge-java
	url = git@github.com:ygge/adventofcode2019.git
[submodule "tradfursten-nim"]
	path = tradfursten-nim
	url = git@github.com:tradfursten/advent_of_code_2019.git
[submodule "albert-arvidsson-elixir"]
	path = albert-arvidsson-elixir
	url = git@github.com:scmx/advent-of-code-2019-elixir.git
[submodule "cryon-python"]
	path = cryon-python
	url = https://github.com/cryon/advent-of-code-2019
[submodule "johan1a_scala"]
	path = johan1a_scala
	url = https://github.com/johan1a/adventofcode2019.git
[submodule "hillerstorm-v"]
	path = hillerstorm-v
	url = https://github.com/hillerstorm/advent-of-code-2019
[submodule "LinAGKar-rust"]
	path = LinAGKar-rust
	url = https://github.com/LinAGKar/advent-of-code-2019-rust.git
